{% extends "layout.html" %}

{% block body %}
  <h4>Device Details</h4>

  <ul>
    <li><strong>Name:</strong> {{ device.name }}</li>
    <li><strong>IP Address:</strong> {{ device.ip_addr }}</li>
    <li><strong>Type:</strong> {{ device.device_type }}</li>
    <li><strong>Make:</strong> {{ device.make }}</li>
    <li><strong>Model:</strong> {{ device.model }}</li>
    <li><strong>SW Version:</strong> {{ device.sw_version }}</li>
    <li><strong>Serial Number:</strong> {{ device.serial_number }}</li>
    <li><strong>Datacenter:</strong> {{ device.datacenter }}</li>
    <li><strong>Location:</strong> {{ device.location }}</li>
    <li><strong>Console:</strong> {{ device.console }}</li>
    <li><strong>Description:</strong> {{ device.description }}</li>
    <li><strong>Notes:</strong> {{ device.notes }}</li>
  </ul>

{% endblock %}
