{% extends "layout.html" %}


{% block body %}
  <h4>Inventory</h4>

  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>IP Address</th>
      <th>Device Type</th>
      <th>Description</th>
    </tr>
    {% for device in devices %}
    <tr>
      <td>
        <a href="{{ url_for('device', device_id=device.id) }}">
          {{ device.name }}
        </a>
      </td>
      <td>
        {{ device.ip_addr }}
      </td>
      <td>
        {{ device.device_type }}
      </td>
      <td>
        {{ device.description }}
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
