{% extends "layout.html" %}
{% block head %}
<!--<script src="{{ url_for('static', filename='js/devices.js') }}"></script>-->
{% endblock %}

{% block body %}
<div class="container-fluid">
  <!--<h4>Inventory</h4>-->
  <table class="table table-hover table-sm">
    <thead class="table-dark bg-primary">
      <tr>
        <th>Name</th>
        <th>IP Address</th>
        <th>Make</th>
        <th>Model</th>
        <th>SW Version</th>
        <th>Serial Number</th>
        <th>Datacenter</th>
        <th>Location</th>
        <th>Console</th>
        <th>Description</th>
        <th>Notes</th>
      </tr>
    </thead>
    {% if devices is defined %}
    {% for device in devices %}
    <tr>
      <td>
        <a href="{{ url_for('device', device_id=device.id) }}">
          {{ device.name }}
        </a>
      </td>
      <td>
        {{ device.ip_addr }}
      </td>
      <td>
        {{ device.make }}
      </td>
      <td>
        {{ device.model }}
      </td>
      <td>
        {{ device.sw_version }}
      </td>
      <td>
        {{ device.serial_number }}
      </td>
      <td>
        {{ device.datacenter }}
      </td>
      <td>
        {{ device.location }}
      </td>
      <td>
        {{ device.console }}
      </td>
      <td>
        {{ device.description }}
      </td>
      <td>
        {{ device.notes }}
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>

  {% if current_user.is_authenticated and current_user.role == 'admin' %}
  <a href="{{ url_for('add_device') }}" class="btn btn-primary">Add a Device</a>
  {% endif %}


</div>
{% endblock %}
